<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <p class="lead">Dolphin Work</p>
      </div>

      Welcome to Dolphin Work! To find a coworking space, select one of the below.
      <br><br>

      <a href="/?city=Chicago">Chicago</a><br><br>
      <a href="/?city=Los%20Angeles">Los Angeles</a>
    </div>
  </body>
</html>